<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Boggle</title>
</head>
<body>

    <p class="timer"></p>
    <p class="messages"></p>

    <table>
        {% for row in game_board %}
            <tr>
                {% for letter in row %}
                    <td>
                        {{letter}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form class="guess-form">
        <label for="guess">Enter a Guess:</label>
        <input type="text" name="guess" class="guess" placeholder="Enter text here">
        <button>Submit Guess</button>
    </form>

    <p>Score is:</p>
    <p class="score"></p>

    <p>Times played: {{times_played}}</p>
    <p>High Score: {{highscore}}</p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/app.js"></script>
    <script>
        let game = new Boggle("boggle");
    </script>
</body>
</html>